# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env

# VS Code (dacă folosești și alt editor)
.vscode/

# Database (doar dacă generezi fișiere temporare de la DB sau dumpuri)

